.one{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.two{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.three{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.four{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.five{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.six{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seven{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.ten{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eleven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twelve{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fourteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}.name{color:red;}
.fifteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.sixteen{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventeen{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eighteen{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nineteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twenty{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twentyone{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twentytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twentythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
border-collapse:collapse}
.twentyfour{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twentyfive{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twentysix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
table,th,tr,td{border:2px solid gray;margin:10px; padding:10px;border-collapse:collapse;}
.twentyseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twentyeight{color:black;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.twentynine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirty{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtyone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtyfour{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtyfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtysix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtyseven{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtyeight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.thirtynine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fourty{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtyone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtyfour{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtyfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtysix{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtyseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtyeight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fourtynine{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fifty{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fiftyone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fiftytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fiftythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fiftyfour{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fiftyfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}	 
.fiftysix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fiftyseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fiftyeight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.fiftynine{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.sixty{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.sixtyone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
border-collapse:collapse;}
.sixtytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
border-collapse:collapse;}
.sixtythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.sixtyfour{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.sixtyfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
border-collapse:collapse;}
.sixtysix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
border-collapse:collapse;}
.sixtyseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.sixtyeight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
border-collapse:collapse;}
.sixtynine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventy{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventyone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventyfour{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventyfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventysix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventyseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventyeight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.seventynine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eighty{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightyone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightyfour{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightyfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightysix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightyseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightyeight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.eightynine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.ninty{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintyone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintytwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintythree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintyfour{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintyfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintysix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintyseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintyeight{color:red;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.nintynine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundred{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenone{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredentwo{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenthree{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenfour{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenfive{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredensix{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenseven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredeneight{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredennine{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenten{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredeneleven{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredentwelve{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenthirteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenfourteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenfifteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredensixteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredenseventeen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredeneighteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredennineteen{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
.hundredentwenty{color:blue;border:7px solid black;width:25%;margin:10px; padding:10px;
     border-collapse:collapse;}
